Cookstove/MKR1400/Node-Red/MQTT_Simple.json
[{"id":"7c1c56b8.8bd2a","type":"mqtt in","z":"8ca6fbf4.400cf","name":"","topic":"SUM/1/temperature","qos":"2","broker":"9709dfae.dafc2","x":150,"y":160,"wires":[["497d1501.16b28c"]]},{"id":"dc2cfd0c.2a6f38","type":"debug","z":"8ca6fbf4.400cf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":490,"y":120,"wires":[]},{"id":"7b14aa62.fdcc1c","type":"file","z":"8ca6fbf4.400cf","name":"","filename":"RossTest.csv","appendNewline":true,"createDir":false,"overwriteFile":"false","x":550,"y":200,"wires":[]},{"id":"497d1501.16b28c","type":"function","z":"8ca6fbf4.400cf","name":"Add timestamp","func":"msg.payload = (Date.now()/1000) + \",\" + msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":380,"wires":[["7b14aa62.fdcc1c","dc2cfd0c.2a6f38"]]},{"id":"9709dfae.dafc2","type":"mqtt-broker","z":"","name":"DigitalOcean","broker":"159.65.25.153","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""}]