Node-Red/flows_hvs-res-help01.json
[{"id":"bc3c447c.c83b4","type":"tab","label":"SUM","disabled":false,"info":""},{"id":"50a6be06.9f6bd8","type":"tab","label":"Fridge","disabled":false,"info":""},{"id":"a5b9aabe.9b6c28","type":"tab","label":"Street Light","disabled":false,"info":""},{"id":"f4be8b12.8b3f48","type":"tab","label":"Lantern","disabled":false,"info":""},{"id":"b0b2a274.d2655","type":"tab","label":"Dash: SUM","disabled":false,"info":""},{"id":"4e8eaab9.684994","type":"tab","label":"Dash: Streetlight","disabled":false,"info":""},{"id":"a193037f.9f6ff","type":"tab","label":"Dash: Mobile","disabled":false,"info":""},{"id":"6f1795f9.cad474","type":"tab","label":"Dash: Fridge (E4I)","disabled":false,"info":""},{"id":"82658df9.b3beb","type":"mqtt-broker","z":"","name":"HEED-Data","broker":"heed-data.coventry.ac.uk","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"6fabe5d5.5b3ad4","type":"mqtt-broker","z":"","name":"DigitalOcean","broker":"159.65.25.153","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"8347704e.0d98f8","type":"mqtt-broker","z":"","broker":"192.168.1.11","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"82b5b391.8ff89","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"72166516.750174","type":"ui_tab","z":"","name":"SUM","icon":"dashboard","order":1},{"id":"91fc1ac4.fec53","type":"ui_group","z":"","name":"Thermocouple","tab":"72166516.750174","order":2,"disp":true,"width":"10","collapse":false},{"id":"cfc21ad0.15a7e8","type":"ui_group","z":"","name":"SurfaceTemperature","tab":"72166516.750174","order":1,"disp":true,"width":"10","collapse":false},{"id":"5f81ba39.a0f22c","type":"ui_group","z":"","name":"Humidity","tab":"72166516.750174","order":3,"disp":true,"width":"10","collapse":false},{"id":"c3a01478.54eb7","type":"ui_tab","z":"","name":"Streetlight","icon":"dashboard","order":2},{"id":"19d9fd1b.fb9cc3","type":"ui_group","z":"","name":"Solar Panel Voltage (V)","tab":"c3a01478.54eb7","order":1,"disp":true,"width":"10","collapse":false},{"id":"d9f73ecf.2d4568","type":"ui_group","z":"","name":"Solar Panel Power (W)","tab":"c3a01478.54eb7","order":2,"disp":true,"width":"10","collapse":false},{"id":"1d3eaf3.9f50fd1","type":"ui_group","z":"","name":"Battery State (%)","tab":"c3a01478.54eb7","order":5,"disp":true,"width":"10","collapse":false},{"id":"87f59bb9.bbd2e","type":"ui_tab","z":"","name":"Mobile Lantern","icon":"dashboard","order":3},{"id":"23731dc2.07b03a","type":"ui_group","z":"","name":"Activity","tab":"87f59bb9.bbd2e","order":4,"disp":true,"width":"10","collapse":false},{"id":"13ae5536.189b2b","type":"ui_group","z":"","name":"Energy","tab":"87f59bb9.bbd2e","order":2,"disp":true,"width":"10","collapse":false},{"id":"182e0bf5.f795dc","type":"ui_group","z":"","name":"Humidity","tab":"","order":2,"disp":true,"width":"6"},{"id":"e961043e.0e5b88","type":"ui_group","z":"","name":"Temperature","tab":"","order":1,"disp":true,"width":"6"},{"id":"32989170.0721ce","type":"ui_group","z":"","name":"Barometric Pressure","tab":"","order":3,"disp":true,"width":"6"},{"id":"e2c6c64c.16747","type":"ui_group","z":"","name":"Incoming Messages","tab":"72166516.750174","order":4,"disp":true,"width":"30","collapse":false},{"id":"87f20ddd.5dbbd","type":"ui_group","z":"","name":"Incoming message BMV","tab":"c3a01478.54eb7","order":9,"disp":true,"width":"30","collapse":false},{"id":"10df4184.55e86e","type":"ui_group","z":"","name":"Incoming message Invertor","tab":"c3a01478.54eb7","order":10,"disp":true,"width":"30","collapse":false},{"id":"e718d919.b37638","type":"ui_group","z":"","name":"Battery Voltage (V)","tab":"c3a01478.54eb7","order":6,"disp":true,"width":"10","collapse":false},{"id":"c3ea2958.87ae08","type":"ui_group","z":"","name":"Battery Current (A)","tab":"c3a01478.54eb7","order":7,"disp":true,"width":"10","collapse":false},{"id":"88e731cd.1891c","type":"ui_group","z":"","name":"Load Current (A)","tab":"c3a01478.54eb7","order":3,"disp":true,"width":"10","collapse":false},{"id":"1c645e83.3df079","type":"ui_group","z":"","name":"Incoming Message","tab":"87f59bb9.bbd2e","order":5,"disp":true,"width":"30","collapse":false},{"id":"462660c2.dd7e4","type":"ui_group","z":"","name":"Lantern Battery","tab":"87f59bb9.bbd2e","order":1,"disp":true,"width":"10","collapse":false},{"id":"6222936e.ec8834","type":"ui_group","z":"","name":"Battery Current (from Invertor) (A)","tab":"c3a01478.54eb7","order":4,"disp":true,"width":"10","collapse":false},{"id":"71b19232.c1c4cc","type":"ui_group","z":"","name":"Footfall","tab":"c3a01478.54eb7","order":8,"disp":true,"width":"10","collapse":false},{"id":"9a96aaf.b720658","type":"ui_group","z":"","name":"Incoming Message from Footfall","tab":"c3a01478.54eb7","order":11,"disp":true,"width":"30","collapse":false},{"id":"6a871ff0.e772a","type":"ui_group","z":"","name":"Select device","tab":"c3a01478.54eb7","disp":true,"width":"6","collapse":false},{"id":"c3835ba1.a8ffd","type":"ui_group","z":"","name":"Hostname","tab":"c3a01478.54eb7","disp":true,"width":"6","collapse":false},{"id":"217eb0fc.daf9b","type":"ui_tab","z":"","name":"Fridge","icon":"dashboard","order":4},{"id":"7015e9d3.669bf8","type":"ui_group","z":"","name":"Fridge2-IAM-Power","tab":"217eb0fc.daf9b","order":1,"disp":true,"width":"10","collapse":false},{"id":"10e1d4a8.508183","type":"ui_group","z":"","name":"Fridge2-Termperature","tab":"217eb0fc.daf9b","order":3,"disp":true,"width":"10","collapse":false},{"id":"124b88c2.762097","type":"ui_group","z":"","name":"Fridge2-IAM-Voltage","tab":"217eb0fc.daf9b","order":2,"disp":true,"width":"10","collapse":false},{"id":"fda9c5ab.c3ed8","type":"ui_group","z":"","name":"Fridge2-Node Voltage","tab":"217eb0fc.daf9b","order":4,"disp":true,"width":"10","collapse":false},{"id":"e63693b.a479b7","type":"mqtt in","z":"a5b9aabe.9b6c28","name":"","topic":"Street/+/0x203","qos":"2","broker":"82658df9.b3beb","x":140,"y":320,"wires":[["2f91435e.ef595c","72b2046b.847454"]]},{"id":"ef3892c3.276a9","type":"file","z":"a5b9aabe.9b6c28","name":"","filename":"HEED/StreetLight_BlueSolar.log","appendNewline":true,"createDir":true,"overwriteFile":"false","x":370,"y":80,"wires":[]},{"id":"54b627fb.e1ef88","type":"mqtt in","z":"a5b9aabe.9b6c28","name":"","topic":"Street/+/0xA042","qos":"2","broker":"82658df9.b3beb","x":120,"y":140,"wires":[["ef3892c3.276a9","3cc42436.c3c0a4"]]},{"id":"e14c5036.1a1908","type":"mqtt in","z":"bc3c447c.c83b4","name":"","topic":"SUM/+/temperature","qos":"2","broker":"82658df9.b3beb","x":170,"y":120,"wires":[["d67da3c2.e07508"]]},{"id":"9a05603d.8870e","type":"file","z":"bc3c447c.c83b4","name":"","filename":"HEED/SUM.log","appendNewline":true,"createDir":true,"overwriteFile":"false","x":660,"y":100,"wires":[]},{"id":"b0762794.2b0ff8","type":"link out","z":"bc3c447c.c83b4","name":"SUM To Dashboard","links":["6b11a8ab.08c7f8"],"x":615,"y":180,"wires":[]},{"id":"6b11a8ab.08c7f8","type":"link in","z":"b0b2a274.d2655","name":"SUM From Subscriber","links":["b0762794.2b0ff8"],"x":75,"y":100,"wires":[["24d8985f.cf33b","7d491152.aa2418"]]},{"id":"24d8985f.cf33b","type":"function","z":"b0b2a274.d2655","name":"Extract SUM Values","func":"return [\n    {payload:msg.payload.tempThermocouple}, \n    {payload:msg.payload.tempSi7021},\n    {payload:msg.payload.humidity}\n];","outputs":"3","noerr":0,"x":260,"y":140,"wires":[["110d0e17.ce1cba"],["896766b5.5286a8"],["8c6f0716.753b8"]],"outputLabels":["Thermo","Surgace","Humidity"]},{"id":"471ae445.4807c4","type":"ui_template","z":"b0b2a274.d2655","group":"e2c6c64c.16747","name":"MQTT Output","order":1,"width":"30","height":"5","format":"<ul>\n <li ng-repeat=\"x in msg.payload\">\n <font color=\"red\">{{x.topic}}</font>\n    <ul>\n        <li>{{x.payload}}</li>\n    </ul>\n </li>\n</ul>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":540,"y":80,"wires":[[]]},{"id":"7d491152.aa2418","type":"function","z":"b0b2a274.d2655","name":"Store and shift msg","func":"// initialise the counter to 0 if it \n//doesn't exist already\nvar text = context.get('text')|| [];\n\ntext.push(msg);\nif (text.length > 5){\n    text.shift();\n    text.length = 5;\n} \n\n// store the value back\ncontext.set('text',text);\n// make it part of the outgoing msg object\nmsg = {};\nmsg.payload = text;\nreturn msg;\n","outputs":1,"noerr":0,"x":250,"y":60,"wires":[["471ae445.4807c4","39e732b7.c26c06"]]},{"id":"39e732b7.c26c06","type":"debug","z":"b0b2a274.d2655","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":40,"wires":[]},{"id":"feb5b74e.bb0248","type":"link out","z":"a5b9aabe.9b6c28","name":"Inverter To Dashboard","links":["29d27c93.4533d4","e13a8cea.9e60d8"],"x":635,"y":180,"wires":[]},{"id":"3cc42436.c3c0a4","type":"json","z":"a5b9aabe.9b6c28","name":"","property":"payload","action":"","pretty":false,"x":310,"y":180,"wires":[["feb5b74e.bb0248"]]},{"id":"354d52dc.5bb1d6","type":"comment","z":"b0b2a274.d2655","name":"From SUM","info":"","x":120,"y":20,"wires":[]},{"id":"e8ac75a8.6f5b6","type":"link out","z":"f4be8b12.8b3f48","name":"Lantern To Dashboard","links":["9231c49a.38412","de944b04.08ba48"],"x":535,"y":140,"wires":[]},{"id":"5ef6cb8f.5b27f4","type":"file","z":"f4be8b12.8b3f48","name":"","filename":"HEED/LanternTest.log","appendNewline":true,"createDir":true,"overwriteFile":"false","x":640,"y":200,"wires":[]},{"id":"3cf355ba.bb6782","type":"mqtt in","z":"f4be8b12.8b3f48","name":"","topic":"Lantern/+/data","qos":"2","broker":"82658df9.b3beb","x":100,"y":140,"wires":[["f2bf1e6e.56ff"]]},{"id":"5dd4135f.50e72c","type":"link in","z":"4e8eaab9.684994","name":"BMV From Subscriber","links":["3e139121.258056","fb550fbf.09f448"],"x":55,"y":120,"wires":[["1c6b9ede.8d0bf9","bb5cd27e.0c9f78"]]},{"id":"caae46fc.7b7628","type":"comment","z":"4e8eaab9.684994","name":"From BMV","info":"","x":80,"y":40,"wires":[]},{"id":"1c6b9ede.8d0bf9","type":"function","z":"4e8eaab9.684994","name":"Store and shift msg","func":"// initialise the counter to 0 if it \n//doesn't exist already\nvar text = context.get('text')|| [];\n\ntext.push(msg);\nif (text.length > 5){\n    text.shift();\n    text.length = 5;\n} \n\n// store the value back\ncontext.set('text',text);\n// make it part of the outgoing msg object\nmsg = {};\nmsg.payload = text;\nreturn msg;\n","outputs":1,"noerr":0,"x":230,"y":80,"wires":[["233a9d23.15373a","a1b04382.396b88"]]},{"id":"a1b04382.396b88","type":"debug","z":"4e8eaab9.684994","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":80,"wires":[]},{"id":"233a9d23.15373a","type":"ui_template","z":"4e8eaab9.684994","group":"87f20ddd.5dbbd","name":"MQTT Output","order":1,"width":"30","height":"5","format":"<ul>\n <li ng-repeat=\"x in msg.payload\">\n <font color=\"red\">{{x.topic}}</font>\n    <ul>\n        <li>{{x.payload}}</li>\n    </ul>\n </li>\n</ul>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":580,"y":120,"wires":[[]]},{"id":"bb5cd27e.0c9f78","type":"function","z":"4e8eaab9.684994","name":"Extract BMV Values","func":"return [\n    {payload:msg.payload.SOC / 10.0},\n    {payload:msg.payload.V / 1000.0},\n    {payload:msg.payload.I / 1000.0}\n];","outputs":"3","noerr":0,"x":230,"y":160,"wires":[["f14e3d0f.68e8"],["65ea1ec8.60083"],["ec3f79ad.4df128"]],"outputLabels":["Battery SOC","Battery Voltage","Battery Current"]},{"id":"f14e3d0f.68e8","type":"ui_chart","z":"4e8eaab9.684994","name":"Battery State","group":"1d3eaf3.9f50fd1","order":0,"width":0,"height":0,"label":"Battery SoC (%)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"20","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"x":570,"y":160,"wires":[[],[]]},{"id":"65ea1ec8.60083","type":"ui_chart","z":"4e8eaab9.684994","name":"Battery Voltage","group":"e718d919.b37638","order":0,"width":0,"height":0,"label":"Battery Voltage (V)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"5","ymax":"15","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"x":580,"y":200,"wires":[[],[]]},{"id":"ec3f79ad.4df128","type":"ui_chart","z":"4e8eaab9.684994","name":"Battery Current","group":"c3ea2958.87ae08","order":0,"width":0,"height":0,"label":"Battery Current (A)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"x":580,"y":240,"wires":[[],[]]},{"id":"e13a8cea.9e60d8","type":"link in","z":"4e8eaab9.684994","name":"Invertor From Subscriber","links":["feb5b74e.bb0248"],"x":55,"y":340,"wires":[["5c8bd3f2.d297e4","8ec0b29c.4847d8"]]},{"id":"15300999.33e07e","type":"comment","z":"4e8eaab9.684994","name":"From Invertor","info":"","x":90,"y":260,"wires":[]},{"id":"5c8bd3f2.d297e4","type":"function","z":"4e8eaab9.684994","name":"Store and shift msg","func":"// initialise the counter to 0 if it \n//doesn't exist already\nvar text = context.get('text')|| [];\n\ntext.push(msg);\nif (text.length > 5){\n    text.shift();\n    text.length = 5;\n} \n\n// store the value back\ncontext.set('text',text);\n// make it part of the outgoing msg object\nmsg = {};\nmsg.payload = text;\nreturn msg;\n","outputs":1,"noerr":0,"x":210,"y":300,"wires":[["39931609.3df1ca","86d8d058.34a598"]]},{"id":"86d8d058.34a598","type":"debug","z":"4e8eaab9.684994","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":300,"wires":[]},{"id":"39931609.3df1ca","type":"ui_template","z":"4e8eaab9.684994","group":"10df4184.55e86e","name":"MQTT Output","order":1,"width":"30","height":"5","format":"<ul>\n <li ng-repeat=\"x in msg.payload\">\n <font color=\"red\">{{x.topic}}</font>\n    <ul>\n        <li>{{x.payload}}</li>\n    </ul>\n </li>\n</ul>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":580,"y":340,"wires":[[]]},{"id":"8ec0b29c.4847d8","type":"function","z":"4e8eaab9.684994","name":"Extract Invertor Values","func":"return [\n    {payload:msg.payload.VPV / 1000.0},\n    {payload:msg.payload.PPV / 1000.0},\n    {payload:msg.payload.IL / 1000.0},\n    {payload:msg.payload.I / 1000.0}\n];\n","outputs":4,"noerr":0,"x":220,"y":380,"wires":[["cc1ce55e.bf6318"],["896db786.acdf78"],["28fdb5dd.8b7202"],["324d1fce.a5e76"]],"outputLabels":["Panel Voltage","Panel Power","Load Current","Inv Batt Current"]},{"id":"cc1ce55e.bf6318","type":"ui_chart","z":"4e8eaab9.684994","name":"Solar Panel Voltage","group":"19d9fd1b.fb9cc3","order":0,"width":0,"height":0,"label":"Solar Panel Voltage (V)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":590,"y":380,"wires":[[],[]]},{"id":"896db786.acdf78","type":"ui_chart","z":"4e8eaab9.684994","name":"Solar Panel Power ","group":"d9f73ecf.2d4568","order":0,"width":0,"height":0,"label":"Solar Panel Power (W)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"x":590,"y":420,"wires":[[],[]]},{"id":"28fdb5dd.8b7202","type":"ui_chart","z":"4e8eaab9.684994","name":"Load Current","group":"88e731cd.1891c","order":0,"width":0,"height":0,"label":"Load Current (A)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"x":570,"y":460,"wires":[[],[]]},{"id":"8320d026.f60918","type":"comment","z":"a193037f.9f6ff","name":"From Lantern","info":"","x":90,"y":40,"wires":[]},{"id":"de944b04.08ba48","type":"link in","z":"a193037f.9f6ff","name":"Invertor From Subscriber","links":["e8ac75a8.6f5b6"],"x":55,"y":140,"wires":[["27889385.f84f74","c92f6e73.2b0ce8","3c566ad.e20cb96"]]},{"id":"27889385.f84f74","type":"function","z":"a193037f.9f6ff","name":"Store and shift msg","func":"// initialise the counter to 0 if it \n//doesn't exist already\nvar text = context.get('text')|| [];\n\ntext.push(msg);\nif (text.length > 5){\n    text.shift();\n    text.length = 5;\n} \n\n// store the value back\ncontext.set('text',text);\n// make it part of the outgoing msg object\nmsg = {};\nmsg.payload = text;\nreturn msg;\n","outputs":1,"noerr":0,"x":210,"y":100,"wires":[["e74b39f3.8159b8","60c74e9e.6816b8"]]},{"id":"c92f6e73.2b0ce8","type":"function","z":"a193037f.9f6ff","name":"Extract Lantern Values","func":"return [\n    {payload:msg.payload.movement},\n    {payload:msg.payload.solarBatt}\n];\n","outputs":2,"noerr":0,"x":220,"y":180,"wires":[["6f535266.b46b64"],["3750f30b.13c7e4"]],"outputLabels":["movement","solar battery"]},{"id":"60c74e9e.6816b8","type":"ui_template","z":"a193037f.9f6ff","group":"1c645e83.3df079","name":"MQTT Output","order":1,"width":"30","height":"5","format":"<ul>\n <li ng-repeat=\"x in msg.payload\">\n <font color=\"red\">{{x.topic}}</font>\n    <ul>\n        <li>{{x.payload}}</li>\n    </ul>\n </li>\n</ul>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":580,"y":140,"wires":[[]]},{"id":"e74b39f3.8159b8","type":"debug","z":"a193037f.9f6ff","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":80,"wires":[]},{"id":"3750f30b.13c7e4","type":"ui_chart","z":"a193037f.9f6ff","name":"Lantern Battery","group":"462660c2.dd7e4","order":0,"width":0,"height":0,"label":"Lantern Battery (V)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"x":580,"y":260,"wires":[[],[]]},{"id":"6f535266.b46b64","type":"ui_chart","z":"a193037f.9f6ff","name":"Lantern Movement","group":"23731dc2.07b03a","order":0,"width":0,"height":0,"label":"Movement State (1: Moving, 0: Static)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"x":590,"y":220,"wires":[[],[]]},{"id":"110d0e17.ce1cba","type":"ui_chart","z":"b0b2a274.d2655","name":"Thermo","group":"91fc1ac4.fec53","order":0,"width":0,"height":0,"label":"Thermocouple (°C)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"x":520,"y":120,"wires":[[],[]]},{"id":"896766b5.5286a8","type":"ui_chart","z":"b0b2a274.d2655","name":"Surface Temp","group":"cfc21ad0.15a7e8","order":0,"width":0,"height":0,"label":"Surface Temperature (°C)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"x":540,"y":160,"wires":[[],[]]},{"id":"8c6f0716.753b8","type":"ui_chart","z":"b0b2a274.d2655","name":"Humidity","group":"5f81ba39.a0f22c","order":0,"width":0,"height":0,"label":"Humidity (%)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"x":520,"y":200,"wires":[[],[]]},{"id":"324d1fce.a5e76","type":"ui_chart","z":"4e8eaab9.684994","name":"Battery Current (from Invertor)","group":"6222936e.ec8834","order":0,"width":0,"height":0,"label":"Battery Current (from Invertor) (A)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"x":630,"y":500,"wires":[[],[]]},{"id":"805a4505.f33ce8","type":"file","z":"a5b9aabe.9b6c28","name":"","filename":"HEED/StreetLight_Pedestrians.log","appendNewline":true,"createDir":true,"overwriteFile":"false","x":620,"y":540,"wires":[]},{"id":"ff3c9ab8.0186a8","type":"mqtt in","z":"a5b9aabe.9b6c28","name":"","topic":"Street/+/pedestrians","qos":"2","broker":"82658df9.b3beb","x":150,"y":540,"wires":[["5d84356a.2a39dc"]]},{"id":"5d84356a.2a39dc","type":"csv","z":"a5b9aabe.9b6c28","name":"Parse CSV into JSON","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"unixtime,hostname,direction,total,seq","skip":0,"x":380,"y":660,"wires":[["7bdcf5fa.3edf54","805a4505.f33ce8"]]},{"id":"7bdcf5fa.3edf54","type":"link out","z":"a5b9aabe.9b6c28","name":"FootFall To Dashboard","links":["b540975f.668f9"],"x":555,"y":660,"wires":[]},{"id":"b540975f.668f9","type":"link in","z":"4e8eaab9.684994","name":"Footfall From Subscriber","links":["7bdcf5fa.3edf54"],"x":75,"y":600,"wires":[["ff6364d1.e0b0c","953ad0a9.4f049"]]},{"id":"ff6364d1.e0b0c","type":"function","z":"4e8eaab9.684994","name":"Store and shift msg","func":"// initialise the counter to 0 if it \n//doesn't exist already\nvar text = context.get('text')|| [];\n\ntext.push(msg);\nif (text.length > 5){\n    text.shift();\n    text.length = 5;\n} \n\n// store the value back\ncontext.set('text',text);\n// make it part of the outgoing msg object\nmsg = {};\nmsg.payload = text;\nreturn msg;\n","outputs":1,"noerr":0,"x":230,"y":580,"wires":[["cb1ff345.edc278","d5b45a31.b57f78"]]},{"id":"cb1ff345.edc278","type":"debug","z":"4e8eaab9.684994","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":580,"wires":[]},{"id":"953ad0a9.4f049","type":"function","z":"4e8eaab9.684994","name":"Extract Footfall Values","func":"return [\n    {payload:msg.payload.total}\n];\n","outputs":1,"noerr":0,"x":240,"y":660,"wires":[["f3342070.ac491"]],"outputLabels":["footfall"]},{"id":"de826b69.8f1f9","type":"mqtt in","z":"50a6be06.9f6bd8","name":"","topic":"Fridge/fridge-1/IAM","qos":"2","broker":"82658df9.b3beb","x":170,"y":120,"wires":[["864055d8.85861","2f3bb17c.c3734e","5e5427cd.435c78"]]},{"id":"2f91435e.ef595c","type":"json","z":"a5b9aabe.9b6c28","name":"","property":"payload","action":"","pretty":false,"x":330,"y":380,"wires":[["3e139121.258056"]]},{"id":"3e139121.258056","type":"link out","z":"a5b9aabe.9b6c28","name":"BMV To Dashboard","links":["25747e89.254e0a","5dd4135f.50e72c"],"x":475,"y":380,"wires":[]},{"id":"72b2046b.847454","type":"file","z":"a5b9aabe.9b6c28","name":"","filename":"HEED/StreetLight_BMV-700.log","appendNewline":true,"createDir":true,"overwriteFile":"false","x":410,"y":320,"wires":[]},{"id":"2f3bb17c.c3734e","type":"json","z":"50a6be06.9f6bd8","name":"","property":"payload","action":"","pretty":false,"x":410,"y":180,"wires":[["b0c53745.4ca76"]]},{"id":"b0c53745.4ca76","type":"link out","z":"50a6be06.9f6bd8","name":"Fridge1 IAM To Dashboard","links":[],"x":555,"y":180,"wires":[]},{"id":"864055d8.85861","type":"file","z":"50a6be06.9f6bd8","name":"","filename":"Fridge/Fridge1_IAM.json","appendNewline":true,"createDir":true,"overwriteFile":"false","x":470,"y":120,"wires":[]},{"id":"1694c886.53fe2f","type":"mqtt in","z":"50a6be06.9f6bd8","name":"","topic":"Fridge/fridge-1/195","qos":"2","broker":"82658df9.b3beb","x":170,"y":320,"wires":[["7c62760a.e4251","a0458704.377cd8","4fd22930.c3adc8"]]},{"id":"28feea80.2bbcf6","type":"link out","z":"50a6be06.9f6bd8","name":"Fridge 195 Node To Dashboard","links":[],"x":655,"y":400,"wires":[]},{"id":"7c62760a.e4251","type":"file","z":"50a6be06.9f6bd8","name":"","filename":"Fridge/Fridge1_Node195.json","appendNewline":true,"createDir":false,"overwriteFile":"false","x":490,"y":320,"wires":[]},{"id":"d5b45a31.b57f78","type":"ui_template","z":"4e8eaab9.684994","group":"9a96aaf.b720658","name":"MQTT Output","order":1,"width":"30","height":"5","format":"<ul>\n <li ng-repeat=\"x in msg.payload\">\n <font color=\"red\">{{x.topic}}</font>\n    <ul>\n        <li>{{x.payload}}</li>\n    </ul>\n </li>\n</ul>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":600,"y":620,"wires":[[]]},{"id":"f10cfcbb.a3d9d8","type":"mqtt in","z":"50a6be06.9f6bd8","name":"","topic":"Fridge/fridge-1/196","qos":"2","broker":"82658df9.b3beb","x":170,"y":520,"wires":[["e7aa307e.19b908","c572ac01.0fe6a","cefd0d13.43c6b8"]]},{"id":"d7990736.200da8","type":"link out","z":"50a6be06.9f6bd8","name":"Fridge 196 Node To Dashboard","links":[],"x":655,"y":600,"wires":[]},{"id":"e7aa307e.19b908","type":"file","z":"50a6be06.9f6bd8","name":"","filename":"Fridge/Fridge1_Node196.json","appendNewline":true,"createDir":false,"overwriteFile":"false","x":490,"y":520,"wires":[]},{"id":"d77d35b8.b4c518","type":"mqtt in","z":"50a6be06.9f6bd8","name":"","topic":"Fridge/fridge-2/IAM","qos":"2","broker":"82658df9.b3beb","x":170,"y":720,"wires":[["c5498a79.79e708","9bf69dcb.fd52e","4c25780c.9eae38"]]},{"id":"9bf69dcb.fd52e","type":"json","z":"50a6be06.9f6bd8","name":"","property":"payload","action":"","pretty":false,"x":410,"y":780,"wires":[["86d52b2d.7cdae8"]]},{"id":"86d52b2d.7cdae8","type":"link out","z":"50a6be06.9f6bd8","name":"Fridge2 IAM To Dashboard","links":["897eb62f.3e13a"],"x":555,"y":780,"wires":[]},{"id":"c5498a79.79e708","type":"file","z":"50a6be06.9f6bd8","name":"","filename":"Fridge/Fridge2_IAM.json","appendNewline":true,"createDir":true,"overwriteFile":"false","x":470,"y":720,"wires":[]},{"id":"e66c94b5.a8024","type":"mqtt in","z":"50a6be06.9f6bd8","name":"","topic":"Fridge/fridge-2/193","qos":"2","broker":"82658df9.b3beb","x":170,"y":920,"wires":[["af83c19f.fe389","77780a97.b0e24c","d9270308.16d6c"]]},{"id":"35912b03.045244","type":"link out","z":"50a6be06.9f6bd8","name":"Fridge2 193 Node To Dashboard","links":["9be26941.f2694"],"x":655,"y":1000,"wires":[]},{"id":"af83c19f.fe389","type":"file","z":"50a6be06.9f6bd8","name":"","filename":"Fridge/Fridge2_Node193.json","appendNewline":true,"createDir":false,"overwriteFile":"false","x":490,"y":920,"wires":[]},{"id":"3c566ad.e20cb96","type":"function","z":"a193037f.9f6ff","name":"Extract Lantern Energy Values","func":"var UsageMsg = {};\nvar ChargingMsg = {};\nUsageMsg.payload = msg.payload.usage;\nUsageMsg.topic = \"Usage\";\n\nChargingMsg.payload = msg.payload.charging;\nChargingMsg.topic = \"Charging\";\n\nreturn [UsageMsg, ChargingMsg]","outputs":2,"noerr":0,"x":250,"y":340,"wires":[["5616ab38.99423c"],["5616ab38.99423c"]],"outputLabels":["usage","charging"]},{"id":"5616ab38.99423c","type":"ui_chart","z":"a193037f.9f6ff","name":"Lantern Energy","group":"13ae5536.189b2b","order":0,"width":0,"height":0,"label":"Energy (mA)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"x":540,"y":340,"wires":[[],[]]},{"id":"f3342070.ac491","type":"ui_chart","z":"4e8eaab9.684994","name":"Footfall","group":"71b19232.c1c4cc","order":0,"width":0,"height":0,"label":"Total Footfall","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"x":580,"y":660,"wires":[[],[]]},{"id":"4c25780c.9eae38","type":"debug","z":"50a6be06.9f6bd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":660,"wires":[]},{"id":"77780a97.b0e24c","type":"debug","z":"50a6be06.9f6bd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":420,"y":880,"wires":[]},{"id":"c572ac01.0fe6a","type":"debug","z":"50a6be06.9f6bd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":460,"wires":[]},{"id":"a0458704.377cd8","type":"debug","z":"50a6be06.9f6bd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":260,"wires":[]},{"id":"5e5427cd.435c78","type":"debug","z":"50a6be06.9f6bd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":40,"wires":[]},{"id":"4fd22930.c3adc8","type":"json","z":"50a6be06.9f6bd8","name":"","property":"payload","action":"","pretty":false,"x":450,"y":380,"wires":[["28feea80.2bbcf6"]]},{"id":"cefd0d13.43c6b8","type":"json","z":"50a6be06.9f6bd8","name":"","property":"payload","action":"","pretty":false,"x":430,"y":600,"wires":[["d7990736.200da8"]]},{"id":"d9270308.16d6c","type":"json","z":"50a6be06.9f6bd8","name":"","property":"payload","action":"","pretty":false,"x":430,"y":1000,"wires":[["35912b03.045244"]]},{"id":"2f954125.897426","type":"debug","z":"f4be8b12.8b3f48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":280,"wires":[]},{"id":"d67da3c2.e07508","type":"json","z":"bc3c447c.c83b4","name":"","property":"payload","action":"","pretty":false,"x":410,"y":180,"wires":[["9a05603d.8870e","b0762794.2b0ff8","91a2612b.4d6cd"]]},{"id":"f2bf1e6e.56ff","type":"json","z":"f4be8b12.8b3f48","name":"","property":"payload","action":"","pretty":false,"x":310,"y":140,"wires":[["e8ac75a8.6f5b6","5ef6cb8f.5b27f4","2f954125.897426"]]},{"id":"897eb62f.3e13a","type":"link in","z":"6f1795f9.cad474","name":"Frdige 2 IAM From Subscriber","links":["86d52b2d.7cdae8"],"x":75,"y":100,"wires":[["36d8c838.57bc18"]]},{"id":"6f2bc195.489018","type":"comment","z":"6f1795f9.cad474","name":"From Fridge 2","info":"","x":110,"y":20,"wires":[]},{"id":"36d8c838.57bc18","type":"function","z":"6f1795f9.cad474","name":"Extract IAM Values","func":"return [\n    {payload:msg.payload.reactive},\n    {payload:msg.payload.voltage},\n];","outputs":2,"noerr":0,"x":230,"y":100,"wires":[["956f582e.777948"],["e3a2756e.3b621"]],"outputLabels":["Reactive","Voltage","Battery Current"]},{"id":"9be26941.f2694","type":"link in","z":"6f1795f9.cad474","name":"Fridge 2 Node From Subscriber","links":["35912b03.045244"],"x":75,"y":180,"wires":[["9add3780.5e0578"]]},{"id":"9add3780.5e0578","type":"function","z":"6f1795f9.cad474","name":"Extract Temp Values","func":"return [\n    {payload:msg.payload.Temperature},\n    {payload:msg.payload.Voltage}\n];","outputs":2,"noerr":0,"x":240,"y":180,"wires":[["51ee7b05.120d7c"],["7812ad34.640974"]],"outputLabels":["Temp","Battery Voltage"]},{"id":"91a2612b.4d6cd","type":"debug","z":"bc3c447c.c83b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":300,"wires":[]},{"id":"956f582e.777948","type":"ui_chart","z":"6f1795f9.cad474","name":"Fridge 2 Power (W)","group":"7015e9d3.669bf8","order":0,"width":0,"height":0,"label":"Fridge 2 Power (W)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"x":510,"y":60,"wires":[[],[]]},{"id":"e3a2756e.3b621","type":"ui_chart","z":"6f1795f9.cad474","name":"Fridge 2 Voltage (V)","group":"124b88c2.762097","order":0,"width":0,"height":0,"label":"Fridge 2 Voltage (V)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"x":510,"y":120,"wires":[[],[]]},{"id":"51ee7b05.120d7c","type":"ui_chart","z":"6f1795f9.cad474","name":"Fridge 2 Temperature (C)","group":"10e1d4a8.508183","order":0,"width":0,"height":0,"label":"Fridge 2 Temperature (C)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"x":530,"y":180,"wires":[[],[]]},{"id":"7812ad34.640974","type":"ui_chart","z":"6f1795f9.cad474","name":"Fridge 2 Node Battery (V)","group":"fda9c5ab.c3ed8","order":0,"width":0,"height":0,"label":"Fridge 2 Node Battery (V)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"x":530,"y":240,"wires":[[],[]]}]