Node-Red/mqtt.json
[
    {
        "id": "3ba5797e.be045e",
        "type": "tab",
        "label": "SUM",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b2c9546.5c5f728",
        "type": "tab",
        "label": "Street Light",
        "disabled": false,
        "info": ""
    },
    {
        "id": "12672a2d.9d0a2e",
        "type": "tab",
        "label": "Lantern",
        "disabled": false,
        "info": ""
    },
    {
        "id": "55d9f449.6d61e4",
        "type": "mqtt-broker",
        "z": "",
        "name": "DigitalOcean",
        "broker": "159.65.25.153",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": ""
    },
    {
        "id": "31f422c1.128126",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "7182c176.2be9d",
        "type": "file",
        "z": "b2c9546.5c5f728",
        "name": "",
        "filename": "StreetEnergy_BMV-700.csv",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "x": 540,
        "y": 440,
        "wires": []
    },
    {
        "id": "2df8e84c.2756e",
        "type": "mqtt in",
        "z": "b2c9546.5c5f728",
        "name": "",
        "topic": "Street/+/0x203",
        "qos": "2",
        "broker": "55d9f449.6d61e4",
        "x": 140,
        "y": 320,
        "wires": [
            [
                "df2a2d7a.157158",
                "7182c176.2be9d"
            ]
        ]
    },
    {
        "id": "df2a2d7a.157158",
        "type": "debug",
        "z": "b2c9546.5c5f728",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 530,
        "y": 360,
        "wires": []
    },
    {
        "id": "ca9487f9.4f538",
        "type": "file",
        "z": "b2c9546.5c5f728",
        "name": "",
        "filename": "StreetEnergy_BlueSolar.csv",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "x": 600,
        "y": 200,
        "wires": []
    },
    {
        "id": "b66fe6b6.bfd13",
        "type": "mqtt in",
        "z": "b2c9546.5c5f728",
        "name": "",
        "topic": "Street/+/0xA042",
        "qos": "2",
        "broker": "55d9f449.6d61e4",
        "x": 120,
        "y": 140,
        "wires": [
            [
                "e12ea55a.e526e",
                "ca9487f9.4f538"
            ]
        ]
    },
    {
        "id": "e12ea55a.e526e",
        "type": "debug",
        "z": "b2c9546.5c5f728",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 470,
        "y": 100,
        "wires": []
    },
    {
        "id": "3f8a021f.f73fae",
        "type": "mqtt in",
        "z": "3ba5797e.be045e",
        "name": "",
        "topic": "SUM/1/temperature",
        "qos": "2",
        "broker": "55d9f449.6d61e4",
        "x": 170,
        "y": 120,
        "wires": [
            [
                "c993892e.702398",
                "6d8be530.9fe21c"
            ]
        ]
    },
    {
        "id": "c993892e.702398",
        "type": "debug",
        "z": "3ba5797e.be045e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 510,
        "y": 80,
        "wires": []
    },
    {
        "id": "6d8be530.9fe21c",
        "type": "file",
        "z": "3ba5797e.be045e",
        "name": "",
        "filename": "SUMTest.csv",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "x": 590,
        "y": 180,
        "wires": []
    },
    {
        "id": "6683b462.66ecdc",
        "type": "file",
        "z": "12672a2d.9d0a2e",
        "name": "",
        "filename": "LanternTest.csv",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "x": 580,
        "y": 180,
        "wires": []
    },
    {
        "id": "700a6ad0.655af4",
        "type": "mqtt in",
        "z": "12672a2d.9d0a2e",
        "name": "",
        "topic": "Lantern/1/data",
        "qos": "2",
        "broker": "55d9f449.6d61e4",
        "x": 140,
        "y": 120,
        "wires": [
            [
                "36de7c9d.9c3f8c",
                "6683b462.66ecdc"
            ]
        ]
    },
    {
        "id": "36de7c9d.9c3f8c",
        "type": "debug",
        "z": "12672a2d.9d0a2e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 490,
        "y": 80,
        "wires": []
    }
]