Node-Red/mqtt.json
[
    {
        "id": "bc3c447c.c83b4",
        "type": "tab",
        "label": "SUM",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a5b9aabe.9b6c28",
        "type": "tab",
        "label": "Street Light",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f4be8b12.8b3f48",
        "type": "tab",
        "label": "Lantern",
        "disabled": false,
        "info": ""
    },
    {
        "id": "82658df9.b3beb",
        "type": "mqtt-broker",
        "z": "",
        "name": "Help-Data",
        "broker": "help-data.coventry.ac.uk",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": ""
    },
    {
        "id": "6fabe5d5.5b3ad4",
        "type": "mqtt-broker",
        "z": "",
        "name": "DigitalOcean",
        "broker": "159.65.25.153",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": ""
    },
    {
        "id": "72b2046b.847454",
        "type": "file",
        "z": "a5b9aabe.9b6c28",
        "name": "",
        "filename": "StreetEnergy_BMV-700.csv",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "x": 540,
        "y": 440,
        "wires": []
    },
    {
        "id": "e63693b.a479b7",
        "type": "mqtt in",
        "z": "a5b9aabe.9b6c28",
        "name": "",
        "topic": "Street/+/0x203",
        "qos": "2",
        "broker": "82658df9.b3beb",
        "x": 140,
        "y": 320,
        "wires": [
            [
                "639f6eae.62ebc8",
                "72b2046b.847454"
            ]
        ]
    },
    {
        "id": "639f6eae.62ebc8",
        "type": "debug",
        "z": "a5b9aabe.9b6c28",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 530,
        "y": 360,
        "wires": []
    },
    {
        "id": "ef3892c3.276a9",
        "type": "file",
        "z": "a5b9aabe.9b6c28",
        "name": "",
        "filename": "StreetEnergy_BlueSolar.csv",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "x": 600,
        "y": 200,
        "wires": []
    },
    {
        "id": "54b627fb.e1ef88",
        "type": "mqtt in",
        "z": "a5b9aabe.9b6c28",
        "name": "",
        "topic": "Street/+/0xA042",
        "qos": "2",
        "broker": "82658df9.b3beb",
        "x": 120,
        "y": 140,
        "wires": [
            [
                "4554e199.98702",
                "ef3892c3.276a9"
            ]
        ]
    },
    {
        "id": "4554e199.98702",
        "type": "debug",
        "z": "a5b9aabe.9b6c28",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 470,
        "y": 100,
        "wires": []
    },
    {
        "id": "e14c5036.1a1908",
        "type": "mqtt in",
        "z": "bc3c447c.c83b4",
        "name": "",
        "topic": "SUM/1/temperature",
        "qos": "2",
        "broker": "82658df9.b3beb",
        "x": 170,
        "y": 120,
        "wires": [
            [
                "66fd7188.0c0ca8",
                "9a05603d.8870e"
            ]
        ]
    },
    {
        "id": "66fd7188.0c0ca8",
        "type": "debug",
        "z": "bc3c447c.c83b4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 510,
        "y": 80,
        "wires": []
    },
    {
        "id": "9a05603d.8870e",
        "type": "file",
        "z": "bc3c447c.c83b4",
        "name": "",
        "filename": "SUMTest.csv",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "x": 590,
        "y": 180,
        "wires": []
    },
    {
        "id": "6f760791.9023a",
        "type": "file",
        "z": "f4be8b12.8b3f48",
        "name": "",
        "filename": "LanternTest.csv",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "x": 580,
        "y": 180,
        "wires": []
    },
    {
        "id": "b56f3ad5.1c401",
        "type": "mqtt in",
        "z": "f4be8b12.8b3f48",
        "name": "",
        "topic": "Lantern/1/data",
        "qos": "2",
        "broker": "82658df9.b3beb",
        "x": 140,
        "y": 120,
        "wires": [
            [
                "53e8d7ae.e0253",
                "6f760791.9023a"
            ]
        ]
    },
    {
        "id": "53e8d7ae.e0253",
        "type": "debug",
        "z": "f4be8b12.8b3f48",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 490,
        "y": 80,
        "wires": []
    }
]