Node-Red/mqtt.json
[{"id":"d7c0dc1e.71f258","type":"mqtt in","z":"b2c9546.5c5f728","name":"","topic":"SUM/1/temperature","qos":"2","broker":"55d9f449.6d61e4","x":150,"y":160,"wires":[["1f67e637.25e38a","6a224ea9.be3b2"]]},{"id":"1f67e637.25e38a","type":"debug","z":"b2c9546.5c5f728","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":490,"y":120,"wires":[]},{"id":"6a224ea9.be3b2","type":"file","z":"b2c9546.5c5f728","name":"","filename":"SUMTest.csv","appendNewline":true,"createDir":false,"overwriteFile":"false","x":570,"y":220,"wires":[]},{"id":"65495eaf.756e68","type":"file","z":"b2c9546.5c5f728","name":"","filename":"LanternTest.csv","appendNewline":true,"createDir":false,"overwriteFile":"false","x":580,"y":440,"wires":[]},{"id":"62cef013.a7ed4","type":"mqtt in","z":"b2c9546.5c5f728","name":"","topic":"Lantern/1/data","qos":"2","broker":"55d9f449.6d61e4","x":140,"y":380,"wires":[["24231458.565fec","65495eaf.756e68"]]},{"id":"24231458.565fec","type":"debug","z":"b2c9546.5c5f728","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":490,"y":340,"wires":[]},{"id":"4b31d957.63b8f","type":"file","z":"b2c9546.5c5f728","name":"","filename":"StreetEnergyTest.csv","appendNewline":true,"createDir":false,"overwriteFile":"false","x":640,"y":640,"wires":[]},{"id":"427bfc4b.8615cc","type":"mqtt in","z":"b2c9546.5c5f728","name":"","topic":"Street/+/Energy","qos":"2","broker":"55d9f449.6d61e4","x":180,"y":580,"wires":[["dd90b673.e83658","4b31d957.63b8f"]]},{"id":"dd90b673.e83658","type":"debug","z":"b2c9546.5c5f728","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":530,"y":540,"wires":[]},{"id":"55d9f449.6d61e4","type":"mqtt-broker","z":"","name":"DigitalOcean","broker":"159.65.25.153","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""}]
